<div class="users-list">
    
    <div class="title"> 
        <h1 class="page-title"> Users List </h1>
        <button class="add-new-user-button" (click)="add_new_user()" >Add new user</button>
    </div>

    <div class="scroll-part">

        <table mat-table [dataSource]="paginatedUsers" class="mat-elevation-z8 user-box">
            @for (column of displayedColumns; track column) {
              <ng-container [matColumnDef]="column">
                <th class='column-header' mat-header-cell *matHeaderCellDef> {{format_column_name(column)}} </th>
                <td class='column-entity' mat-cell *matCellDef="let element"> 
                    @if(column==='status') { @if(element[column]) {Active} @else {Passive} }                    
                    @else if (column==='action') { 
                        <mat-icon mat-button [matMenuTriggerFor]="actionMenu" class="action-icon"  aria-hidden="false" fontIcon="more_vert"></mat-icon>
                        <mat-menu xPosition="before" #actionMenu="matMenu">
                            <button mat-menu-item (click)="onActionEdit(element['id'])">Edit</button>
                            <button mat-menu-item>Cancel</button>
                        </mat-menu>
                     }
                    @else { {{element[column]}} }
                </td>
              </ng-container>
            }
          
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
          </table>

        <mat-paginator 
            class = 'paginator-panel'
            [length]="length"
            [pageSize]="page_size"
            [pageSizeOptions]="page_size_options" 
            [showFirstLastButtons]="false"
            [pageIndex]="current_page"
            (page)="handlePageEvent($event)"
            >
        </mat-paginator>


    </div>


</div>