<div class="users-list">

    <div class="column-name-container"> 
        <h2 class="column-name"> ID</h2>
        <h2 class="column-name">First Name</h2>
        <h2 class="column-name">Last Name </h2>
        <h2 class="column-name">email</h2>
        <h2 class="column-name">Status</h2>
        <h2 class="column-name">Action</h2>

    </div>

    <div class="user-box">
        @for (user of paginatedUsers; track user.id) {
            <p class="box-entity">{{user.id}}</p>
            <p class="box-entity">{{user.first_name}}</p>
            <p class="box-entity">{{user.last_name}}</p>
            <p class="box-entity">{{user.email}}</p>
            <p class="box-entity">@if(user.status) {Active} @else {Passive}</p>
            <p class="box-entity"><mat-icon class="action-icon"  aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon></p>

        }

    </div>

    <div class="list-scroll-block">
        <button (click)="add_new_user()" routerLink="users/list/add" class="add-new-user-button">Add new user</button>
        <mat-paginator 
            class = 'paginator-panel'
            [length]="length"
            [pageSize]="page_size"
            [pageSizeOptions]="page_size_options" 
            [showFirstLastButtons]="false"
            [pageIndex]="current_page"
            (page)="handlePageEvent($event)"
            >
        </mat-paginator>

    </div>
</div>