<h1> User Details</h1>


<form>
  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="email" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Date of birth</mat-label>
    <input matInput [formControl]="date_of_birth" type="date" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>First Name</mat-label>
    <input matInput [formControl]="first_name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Middle Name</mat-label>
    <input matInput [formControl]="middle_name"  />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Last Name</mat-label>
    <input  matInput [formControl]="last_name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Is Activated</mat-label>
    <mat-select [formControl]="is_activated">
      <mat-option [value]="true">Activated</mat-option>
      <mat-option [value]="false">Deactivated</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Profile Image Url</mat-label>
    <input matInput [formControl]="profile_img_url" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Phone Number</mat-label>
    <input matInput [formControl]="phone_number"  type="text"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Gender</mat-label>
    <mat-select [formControl]="gender">
      <mat-option [value]="true">Male</mat-option>
      <mat-option [value]="false">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Main Language</mat-label>
    <input  matInput [formControl]="main_language" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Nationality</mat-label>
    <input matInput [formControl]="nationality"  />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Recitations</mat-label>
    <input matInput [formControl]="recitations"  />
  </mat-form-field>

  <div class="control-box">
    <button (click)="submit()" id='update-button' type="button">
      @if(is_new_user){Submit}
      @else {Update}
    </button>
  </div>
</form>