<h1> User Details</h1>


<form [formGroup]="userForm" (ngSubmit)="submit()" (ngModelChange)="formChange()">
  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Date of birth</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date_of_birth" type="string" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="first_name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Middle Name</mat-label>
    <input matInput formControlName="middle_name"  />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Last Name</mat-label>
    <input  matInput formControlName="last_name" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Is Activated</mat-label>
    <mat-select formControlName="is_activated">
      <mat-option [value]="true">Activated</mat-option>
      <mat-option [value]="false">Deactivated</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Profile Image Url</mat-label>
    <input matInput formControlName="profile_img_url" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Phone Number</mat-label>
    <input matInput formControlName="phone_number"  type="text"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option [value]="true">Male</mat-option>
      <mat-option [value]="false">Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Main Language</mat-label>
    <input  matInput formControlName="main_language" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Nationality</mat-label>
    <input matInput formControlName="nationality"  />
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-box" floatLabel="auto">
    <mat-label>Recitations</mat-label>
    <input matInput formControlName="recitations"  />
  </mat-form-field>

  <div class="control-box">
    <button id='update-button' type="submit" [disabled]="isSubmitDisabled()" >
      @if(is_new_user){Submit}
      @else {Update}
    </button>
  </div>
</form>