.top-bar {
    background-color: gray;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    box-shadow: 2px 5px 10px 0 gainsboro;
}
// .user-destination {
//     position: absolute;
//     align-content: center;
//     text-align: start;
//     height: 60px;
//     width: 100%;
//     color: Black;
//     font-size: 24px;
//     padding-left: 20px;
//     padding-right: 20px;
//     left: 23px;
//     text-decoration: bold;
//     top: 80px;

// }

.user-destination {
    position: absolute;
    align-content: center;
    text-align: center;
    height: 60px;
    width: 120px;
    color: Black;
    background-color: gainsboro;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    text-decoration: bold;
}

.top-bar-buttons-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 120px;
}

.top-bar-button {
    flex: 1;
    align-content: center;
    text-align: center;
    height: 100%;
    width: auto;
    color: white;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s;
    text-decoration: none;
}

.top-bar-button:hover {
    background-color: #707070;
    cursor: pointer;
}